* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 1680px;
  height: 708px;
  background-image: url("../images/banner/banner2.png");
  background-position: 0px 0px;
  background-position: bottom left;
}

.header-div {
  width: 400px;
}

.header-div .header-title {
  color: black;
  font-size: 55px;
  text-align: right;
}

.header-des {
  text-align: right;
  font-size: 18px;
  color: rgb(37, 37, 37);
}
