/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header style starts */
.header {
  display: flex;
  width: 100%;
  height: 758px;
  background-image: url("../images/banner/banner2.png");
  background-position: bottom left;
  justify-content: flex-end;
  align-items: center;
  padding-right: 120px;
  padding-bottom: 140px;
}

.header-div {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.header-div .header-title {
  color: black;
  font-size: 55px;
  text-align: right;
}

.header-des {
  text-align: right;
  font-size: 15px;
  color: rgb(37, 37, 37);
}

.primary-btn {
  padding: 15px 25px;
  text-align: right;
  background-color: rgb(231, 73, 16);
  border-radius: 5px;
  border: 0;
  color: white;
  width: 120px;
}

/* header style end */

/* main style start */

.my-failures-section {
  display: flex;
  padding: 0px 200px;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}

.image-div img {
  width: 400px;
}

.my-failures-div {
  padding: 200px;
  padding-left: 0px;
}

.failures-title {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.failures-des {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(63, 60, 60);
}

.failures-list {
  padding-left: 0px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "✓";
  padding: 5px;
  color: green;
  font-size: 20px;
}

/* my failures section style end */
/* My plans section start */

.my-plans {
  padding: 0px 200px;
  margin-bottom: 60px;
}

.my-plan-title {
  text-align: center;
  margin-bottom: 40px;
}

.all-plans {
  display: flex;
  justify-content: space-between;
}

.noting-title,
.noting-des,
.plans-img {
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plans-img,
.noting-des,
.noting-title {
  margin-bottom: 10px;
}

/* my plans style end */
/* always Keep style start */
.always-keep {
  width: 950px;
  height: 200px;
  background-image: url("../images/gradient2.png"), url("../images/watch.png");
  background-repeat: no-repeat;

  margin: 0 auto;
  margin-bottom: 120px;
}
.always-div {
  width: 500px;
  padding: 30px;
}

.always-title {
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
}

.second-button {
  padding: 13px 28px;
  border-radius: 5px;
  border: 0;
  color: rgb(231, 73, 16);
  font-weight: bold;
}
/* always Keep style end */
/* footer style start */

.footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: white;
  padding: 100px 200px 100px 300px;
  gap: 180px;
}

.future-div {
  width: 50%;
}

.future-div h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.future-div p {
  color: rgb(211, 166, 166);
  line-height: 23px;
  margin-bottom: 20px;
}

.future-div .social-media a {
  margin-right: 10px;
}

.future-div .social-media {
  margin-top: 10px;
}

.form-div form {
  display: flex;
  flex-direction: column;
}

.form-div {
  width: 50%;
}

.form-div form h3,
label,
button {
  margin-bottom: 15px;
}

.extra-style {
  width: 120px;
}

form h3 {
  font-size: 23px;
  padding-top: 10px;
}

form input {
  padding: 13px 40px 13px 10px;
  background-color: #000000;
  border: 1px solid rgb(211, 166, 166);
  text-align: left;
  border-radius: 5px;
  color: white;
}
